/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color: #fff;
  
  padding: 2em;

  /* TO ASK:
      Porque hay cosas que meten margin solas?
  */
  margin: 0em;

  /*
  border-left-color: #aaf257b0;
  border-left-width: 1em;
  border-left-style: solid;
  */

  border-left: 1em solid #3FF2BD;

  /*
  border-right-color: #aaf257b0;
  border-right-width: 1em;
  border-right-style: solid;
  */
  border-right: 1em solid #3FF2BD;
}

  
/*Especificidad: 001*/
h1 {
  color: #fff;    
  background-color:#f26740; 
  border-radius: 0.75em;
  
  padding: 1.75em; 
  /* TO ASK:
      Porque hay cosas que meten margin solas?
  */
  
  
  border-color: rgba(0, 0, 0, 0.39);
  border-style: solid;
  border-width: 0.4em;

  text-align: center;     
}

h2{
  color: #666666;
}

/*Especificidad: 001*/
nav {
  
  background-color: #3FF2BD;
  border-radius: 1em;

  padding: 0.75em;
  margin-bottom: 1em;

  text-align: left;
}

/* TO ASK:
      diferencia entre nav > a Y nav a
*/
/*Especificidad: 002*/
nav > a {
  color : #fff;

  /* Relative size for the font*/
  font-size: larger;

  /* TO ASK:
      Como hago para que el content de nav (los <a>)
      sean la caja entera y no solo el texto???
  */
  padding: 0.45em;
  background-color: #0AA678;
  margin: 0.5em;

  border-radius: 0.5em;
}

table{
  width: 90%;
  border-collapse: collapse;
}

/* TO ASK:
      diferencia entre nav > a Y nav a
*/
/*Especificidad: 002*/
table th, td, tr{
 
  padding: 0.35em;

  border-color: #000;
  border-width:  0.15em;
  border-style: solid;
}


  