/*Especificidad: 001*/
nav {

    display: flex;
    justify-content:  flex-start;

    background-color: #3FF2BD;
    border-radius: 1em;
    margin-bottom: 1em;
}
/*Especificidad: 001*/
main{
    display: grid;

    grid-column-gap: 1em; /*Esto estara bien?*/
    grid-row-gap: 1em; /*Esto estara bien?*/

    grid-template-columns: 4fr auto;
    grid-template-rows:auto;
}
   

/*Especificidad: 002*/
main aside {

    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    

    max-width: 7em;
    min-width: 4em;

    border-left: 0.25em solid #646464;
    
    padding: 1em;

    grid-column: 2;
    grid-row: 1 /  span 3;

    justify-content: left;
}

/*
    Permite añadir un pequeño margen al final de la ultima seccion
*/
/*Especificidad: 011*/
section:last-of-type {
    margin-bottom: 1em;
}

/*Especificidad: 001*/
section {
    display:grid;
    grid-column: 1;
    grid-template-columns: 2fr 1fr;

    grid-auto-rows: auto;
    grid-column-gap: 1em; 
    grid-auto-flow:dense;
}

/*Especificidad: 002*/
section h2 {
    /*
    De la primera columna hasta la ultima (-1)
    */
    grid-column: 1 / span 2;
    grid-row-start: 1;
}

/*Especificidad: 002*/
section p {
    /*
    grid-column: 1;
    grid-row-start: 2;
    */
    position:relative;
    grid-column: span 2;
}

/*Especificidad: 002*/
section img {
    
    grid-column: span 2;
    grid-row-start: auto;
    justify-self:stretch;
}
/*Especificidad: 002*/
section video {
    grid-column: span 2;
    grid-row-start: auto;
    justify-self: stretch;
    
}

/*Especificidad: 002*/
section audio {
    position:relative;
    justify-self: stretch;
}

/*Especificidad: 002*/
section ul {
    grid-column-start: 1;
    grid-row-start: auto;
    grid-column: span 2;

}

section form {
    grid-column-start: 1;
    grid-row-start: auto;
}

/*Especificidad: 002*/
section table {
    justify-self:stretch;
    font-size: larger;
    grid-column: span 2;
}

